# Local configuration file (sdk path, etc)
local.properties
google-services.json

# Gradle
.gradle
build/

# IntelliJ / Android Studio
*.iml
.idea/

# macOS
.DS_Store

# Linux
*~

# Other stuff
/captures
.externalNativeBuild
.cxx

# TELEMETRY
# variables that should be populated into BuildConfig
/telemetry/config.local.properties
