<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.adblockplus.adblockplussbrowser.app">

    <uses-permission android:name="com.samsung.android.sbrowser.permission.CONTENTBLOCKER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.sec.android.app.sbrowser" />
        <package android:name="com.sec.android.app.sbrowser.beta" />
        <package android:name="com.yandex.browser" />
        <package android:name="com.yandex.browser.alpha" />
        <package android:name="com.yandex.browser.beta" />
    </queries>

    <application
        android:name=".AbpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abp">

        <activity
            android:name=".ui.LauncherActivity"
            android:theme="@style/Theme.Abp.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <meta-data
            android:name="com.samsung.android.sbrowser.contentBlocker.interfaceVersion"
            android:value="API_1.0" />
    </application>

</manifest>